*{
    margin: 0;
    padding: 0;
}
footer{
    width: 100%;
    height: auto;
}
footer .hr-1-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .hr-1-1{
    width: 100%;
    border: 5px solid #025259;
}
footer .hr-1-2{
    width: 100%;
    border: 5px solid #F29325;
}
footer .hr-1-3{
    width: 100%;
    border: 5px solid #007172;
}
footer .hr-1-4{
    width: 100%;
    border: 5px solid #D94F04;
}

footer .hr-2-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .hr-2-1{
    width: 100%;
    border: 2px solid #025259;
}
footer .hr-2-2{
    width: 100%;
    border: 2px solid #F29325;
}
footer .hr-2-3{
    width: 100%;
    border: 2px solid #007172;
}
footer .hr-2-4{
    width: 100%;
    border: 2px solid #D94F04;
}
footer .footer-top-div{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .grid-top{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;

}
footer .grid-top .top-in{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .grid-top i{
    margin-right: 20px;
    font-size: 40px;
    color: #F29325;
}
footer .grid-top .info{
    font-family: 'League Spartan', sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
footer .grid-top .top-title{
    font-size: 20px;
    margin-bottom: 10px;
}

footer .footer-middle-div{
    width: 100%;
    height: 300px;
    background-color: rgb(196, 220, 221);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .grid-middle{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer .grid-middle p{
    margin-left: 120px;
    margin-bottom: 10px;
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    color: #025259;
    cursor: pointer;
}
footer .grid-middle .social-icons{
    margin-left: 120px;
}
footer .grid-middle .social-icons i{
    margin-right: 20px;
    font-size: 40px;
    color: #025259;
    cursor: pointer;
}

footer .grid-middle .input-email-area{
    margin-left: 120px;
    border: 0.2px solid #025259;
    width: 210px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .grid-middle .input-email-area i{
    font-size: 20px;
    color: #025259;
    cursor: pointer;
}
footer .grid-middle .input-email-area input{
    width: 150px;
    height: 30px;
    border: none;
}
footer .grid-middle .input-email-area input:focus {
    outline: none;
}
footer .grid-middle .mobil-icons{
    margin-left: 120px;
}
footer .grid-middle .mobil-icons i{
    margin-right: 50px;
    font-size: 40px;
    color: #025259;
    cursor: pointer;
}



footer .footer-final-div{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .grid-final{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    font-family: 'League Spartan', sans-serif;    
}
footer .final-title{
    margin-bottom: 10px;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
}
footer .grid-final p{
    margin-top: 20px;
    cursor: pointer;
}

footer .sequrity{
    margin: 15px;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .sequrity-1{
    margin-left: 100px;
}
footer .sequrity-1 i{
    margin-left: 80px;
    font-size: 30px;
    color: #025259;
    cursor: pointer;
}
footer .sequrity-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .sequrity-2 p{
    margin-right: 100px;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}